<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do App</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#151515] font-sans text-white flex">

    <!-- Sidebar -->
    <nav class="w-64 bg-[#202020] text-white h-screen p-5">
        <h1 class="text-purple-400 text-3xl font-black mb-6">Neex Soluções</h1>
        <ul class="space-y-4">
            <li><a href="index.html" class="hover:text-purple-500 text-lg font-bold uppercase ">Home</a></li>
            <li><a href="createClient.html" class="hover:text-purple-500 text-lg font-bold uppercase ">Criar Cliente</a>
            </li>
            <li><a href="clientsTable.html" class="hover:text-purple-500 text-lg font-bold uppercase">Clientes</a></li>
            <li><a href="info.html" class="hover:text-purple-500 text-lg font-bold uppercase">Info do App</a></li>
        </ul>
    </nav>

    <!-- Content -->
    <div class="flex-1  p-8">
        <div class="bg-[#292929] shadow-lg rounded-lg p-6">
            <h1 class="text-2xl font-bold text-center mb-6 text-purple-400">Informações do Aplicativo</h1>

            <div class="mb-4">
                <p class="text-lg font-semibold">Versão:</p>
                <p class="text-gray-400 text-3xl font-bold">1.0.0</p>
            </div>

            <div class="mb-4">
                <p class="text-lg font-semibold">Autor:</p>
                <p class="text-gray-400 text-2xl font-bold">Neex Soluções</p>
            </div>

            <div class="mb-6">
                <p class="text-lg font-semibold">Links para Contato:</p>
                <ul class="list-disc pl-5 text-gray-400">
                    <li><a href="https://www.instagram.com/neexgg" class="text-blue-500 hover:underline"
                            target="_blank">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>